
/* .between {
  justify-content: space-between;
}

.width-radius {
  width: 44vw;
  height: 44vh;
  border-radius: 2rem;
  border: 1px solid grey;
}

.gap {
  gap: 145px;
}

.border-contenair {
  border-bottom:  grey;
  border-left:  grey;
  border-right:  grey;
}

.text-grey {
  color: gray
}

.size {
  font-size: 20px;
}

.space {
  gap: 170px;
} */